<h2>Filtar:</h2>
<form>
<div class="col-md-3 offset-md-0">
    <label>Code : </label>
    <input type="text" 
    class="form-control" 
    id="code"
    name="filterUser"
    placeholder="Search..."[(ngModel)]="filterUser">

    <button  
    mat-icon-button
    aria-label="Filtar Por Id" 
    class="btn btn" style="margin-top: 10px;
    
    background-color: rgb(0, 183, 255);
    color: aliceblue;"            
    ><mat-icon>Filtar</mat-icon></button>   
</div>
</form>
<br>
<h2>Esta Es La LisTa De Personas!</h2>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Ubicacion</th>
            <th>Telefono</th>
            <th>Email</th>
            <th>Rol</th>
            <th>Acciones</th>
        </tr> 
    </thead>
    <tbody>
        <tr *ngFor= "let persona  of personas | filter:filterUser">
            <td>{{persona.id}}</td>
            <td>{{persona.nombre}}</td>
            <td>{{persona.apellido}}</td>
            <td>{{persona.ubicacion}}</td>
            <td>{{persona.telefono}}</td>
            <td>{{persona.email}}</td>
            <td>{{persona.rol}}</td>
            
            <td>      
            <button  
            mat-icon-button
            aria-label="Editar registro" 
            (click)= "editPersona(persona)"
            class="btn btn" style="margin-top: -5px; 
            background-color: rgb(0, 183, 255);
            color: aliceblue;"            
            ><mat-icon>edit</mat-icon></button>      
            <button 
            mat-icon-button
            aria-label="Editar registro" 
            (click)= "eliminarPersona(persona.id)" 
            class="btn btn" style="margin-top: -5px; 
            background-color: rgb(218, 47, 47);
            color: aliceblue;"><mat-icon>delete</mat-icon></button>
            </td>
        </tr>
    </tbody>    
</table>

